/* Global selector */

* {
    text-align: center;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: white;
}

/* Link selector */

a {
    color: aquamarine;
    decoration: none;
}

/* H selectors*/

h1 {
    font-size: 50px;
}

h2{
    font-size: 42px;
    font-weight: 500;
}

h3 {
    color: gray;
    font-size: 21px;
}

/* Class for place an element on the right */

.right {
    text-align: right;
}